@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <br /><br />
   
      <div class="container-home">
          <img src="~/img/store.png" />
      </div>  
            
       
         

</div>